header{
  height:50px;
  background-color:blue;
}

.header_inside{
  padding:0px 30px;
  display:flex;
  justify-content: space-between;
  color:white;
  height:100%;
  align-items: center;
}

.header_character{
  display: inline-block;
  line-height:50px;
  font-size:18px;
}

.header_link{
  font-size:30px;
}