<%= stylesheet_link_tag "shared/header" , media: "all" %>

<header>
  <div class = "header_inside">
    <p>Tizer System</p>
    <% if user_signed_in? %>
      <p><%= current_user.nickname %></p>
    <% else %>
      <%= link_to "アカウント" , root_path %>
    <% end %>
  </div>
</header>