<%= stylesheet_link_tag "shared/header" , media: "all" %>

<header>
  <div class = "header_inside">
    <p class = "header_character header_link">Tizer System</p>
    <% if user_signed_in? %>
      <p class = "header_character"><%= current_user.nickname %></p>
    <% else %>
      <%= link_to "アカウント" , root_path , class: "header_character" %>
    <% end %>
  </div>
</header>

<%# ヘッダーをfixedにしているため、その下に文字が隠れることがある、それを防ぐために50pxの余白を作るということで、何も入っていない50pxのheightのheader_spacingを用意している %>
<div class = "header_spacing"></div>