<%= stylesheet_link_tag "shared/header" , media: "all" %>

<header>
  <div class = "header_inside">
    <p class = "header_character">Tizer System</p>
    <% if user_signed_in? %>
      <p class = "header_character"><%= current_user.nickname %></p>
    <% else %>
      <%= link_to "アカウント" , root_path , class: "header_character" %>
    <% end %>
  </div>
</header>