<%= stylesheet_link_tag "materials/code_box" , media: "all" %>
<div class= "_code_box_parent">
  <div class = "_code_box_head">
    <p class = "_code_box_text">ここにタイトルを入れる</p>
  </div>
  <div class = "_code_box_body">
    <p class = "_code_box_text">
      <pre><code>
        ここにコードを入れる
      </code></pre>
    </p>
  </div>
</div>

<p class = "_code_box_copy_button">コピー</p>