<%= stylesheet_link_tag "materials/code_box" , media: "all" %>
<div class= "_code_box_parent">
  <div class = "_code_box_head">
    <p class = "_code_box_text">HTML</p>
  </div>
  <div class = "_code_box_body">
    <%# テキストボックス %>
    <p class = "_code_box_text">
      <pre>
        <code id = "copy_object_1">
          <%# この部分にコードを入れる %>
        </code>
      </pre>
    </p>
  </div>
</div>

<p id="js-copyalert" class="copy_alert" style="display:none;">コピーできました！</p>
<p class = "_code_box_copy_button copy_button copy_object_1" id="copy_button">コピー</p>

