/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */


.section_title{
  width: 80%;
  margin: auto;
  font-size: 50px;
  padding-left:30px;
}

.section_title::after{
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  --color1: red;
  --color2: #3a0000;
  --color3: blue;
  --color4: rgb(255, 136, 0);
  background: linear-gradient(to right, var(--color1) 10%, var(--color2) 20%, var(--color2) 45%, var(--color3) 60%, var(--color3) 80%, var(--color4) 90%);
  border-radius: 10px;
  margin-left:-30px;
  margin-bottom:30px;
}