<div class= "_code_box_parent">
  <div class = "_code_box_head">
    <p class = "_code_box_text"><%= title %></p>
  </div>
  <div class = "_code_box_body">
    <p class = "_code_box_text">
      <pre><code>
      
      </code></pre>
    </p>
  </div>
</div>
