<%= stylesheet_link_tag "material/material_link" , media: "all" %>
<div class = "_material_link_parent">
  <%= image_tag "material/templete/material1.png" , class: "_material_link_image" %>
  <%= link_to "これを使う" , material_path(1) , class: "_material_link_button" %>
</div>