<%= stylesheet_link_tag "material/material_link" , media: "all" %>
<div class = "_material_link_parent">
  <p class = "_material_link_title"><%= material.name %></p>
  <%= image_tag material.image , class: "_material_link_image" %>
  <%= link_to "これを使う" , material_path(material.id) , class: "_material_link_button" %>
</div>