<div class = "main_content_parent">
  <div class = "top_content">
    <p class = "section_title">素材販売所</p>
  </div>
  <div class = "main_side_parent">
    <div class = "main_content">
      <%= render partial: "material_link" , collection: Material.all , as: "material" %>
    </div>
    <div class = "side_bar">
    
    </div>
  </div>
</div>