<%= stylesheet_link_tag "materials/show" , media: "all" %>
<div class = "main_content_parent">
  <div class = "top_content">
    <p class = "section_title"><%= @material.name %></p>
  </div>
  <div class = "main_side_parent">
    <div class = "main_content">
      <%= image_tag @material.image , class: "material_image" %>
    </div>
    <div class = "side_bar">
    
    </div>
  </div>
</div>